@model Reservering

@*<style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
           color: black;
         }
    </style>*@

<div id="createform" style="float:left;">
    <h3 class="titel createform">Reserveren</h3>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NaamReserveerder" class="control-label">Naam</label>
            <input asp-for="NaamReserveerder" class="form-control" />
            <span asp-validation-for="NaamReserveerder" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">E-Mail</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HuisTelefoonNummer" class="control-label">Huistelefoon</label>
            <input asp-for="HuisTelefoonNummer" id="HuisNummer" onchange="CheckThuis()" class="form-control" />
            <span asp-validation-for="HuisTelefoonNummer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MobielTelefoonNummer" class="control-label">Mobiele Telefoon</label>
            <input asp-for="MobielTelefoonNummer" id="MobielNummer" onchange="CheckMobiel()" class="form-control" />
            <span asp-validation-for="MobielTelefoonNummer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span asp-validation-for="AantalPersonen" class="text-danger"></span>
            <label asp-for="AantalPersonen" class="control-label">Aantal Personen</label>
            <input type="number" id="aantal" onchange="checkAantalPersonen()" asp-for="AantalPersonen" class="form-control" />
            <span id="alert" style="color:orange;"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReserveringsDatum" class="control-label">Reserverings Datum</label>
            <input asp-for="ReserveringsDatum" class="form-control" />
            <span asp-validation-for="ReserveringsDatum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MobielTelefoonNummer" hidden class="control-label">Nummer</label>
            <select asp-for="MobielTelefoonNummer" hidden class="form-control" asp-items="ViewBag.Nummer"></select>
        </div>
        <div class="form-group">
            <label asp-for="HuisTelefoonNummer" hidden class="control-label">Nummer</label>
            <select onchange="checkAantalPersonen()" hidden asp-for="HuisTelefoonNummer" class="form-control" asp-items="ViewBag.HuisNummer"></select>
        </div>
       

        @*<div id="createform" style="width:90%;margin-left:120%;margin-top:0%;">
            <h3 class="titel createform">Menu's</h3>
            <hr />
            <div id="rolonum">

            </div>
        </div>*@
        @*<div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>*@
        <div class="form-group">
            <button asp-action="Index" class="btn darkred CrudCancel">
                Annuleren  <i class="fas fa-times white"></i>
            </button>
            <button type="submit" class="btn darkblue CrudCreate" style="float:right;">
                Reserveren  <i class="fas fa-plus white"></i>
            </button>
        </div>
    </form>
</div>
<br />
<hr />
<script type="text/javascript">

//    function checkAantalPersonen() {
//      var aantal = document.getElementById("aantal").value;
//        if (aantal == 0) {
//            $("#rolonum").append('<span>');
//        } else {
//            document.getElementById("test").innerHTML = aantal;

//              n = $('#aantal').val();
//            if (n < 1)
//                document.getElementById("alert").innerHTML = "U heeft een ongeldig getal gekozen: " + n;
//            else {
//                document.getElementById("alert").innerHTML = "" ;
//            $("#rolonum").html('');
//            for (var i = 1; i <= n; i++) {
//              $("#rolonum").append('<p><span>Item ' + i + ' </span><input id="rolo_add' + i + '" name="addposition"  type="text" value="" required/></p>');
//            }
//        }
//}
//    }

    function CheckMobiel() {
        var content = '@ViewBag.Nummer';
        var nummer = document.getElementById("MobielNummer").value;
        var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.Nummer) as String)
        console.log(nummer);
        for (var k in json) {
          if (nummer == json[k].Text) {
              document.getElementById("MobielNummer").style.color = "red";
              //alert("DEZE KLANT HEEFT EERDER BESTELD EN NIET KOMEN OPDAGEN");
              break;
          } else {
                document.getElementById("MobielNummer").style.color = "green";
          }
            console.log(json[k].Text)
        }

    }
   function CheckThuis() {
       var Content = '@ViewBag.HuisNummer';
       var nummer = document.getElementById("HuisNummer").value;
       var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.HuisNummer) as String)
       for (var k in json) {
       if (nummer == json[k].Text) {
             document.getElementById("HuisNummer").style.color = "red";
             //alert("DEZE KLANT HEEFT EERDER BESTELD EN NIET KOMEN OPDAGEN");
       break;
       } else {
             document.getElementById("HuisNummer").style.color = "green";
       }
             console.log(json[k].Text)
       }
   }

</script>