@model Reservering

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h1 class="titel">Weet u zeker dat u deze bestelling wilt verwijderen?</h1>
    <div style="margin-top:2%;" id="createform">
        <h3 class="titel createform">Details</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-6">
                Naam Reseverdeer
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NaamReserveerder)
            </dd>
            <dt class="col-sm-6">
                E-Mail
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-6">
                Huistelefoon
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.HuisTelefoonNummer)
            </dd>
            <dt class="col-sm-6">
                Mobiel Nr.
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.MobielTelefoonNummer)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AantalPersonen)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AantalPersonen)
            </dd>
            <dt class="col-sm-6">
                Aanvraag datum
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ReserveringAangemaakt)
            </dd>
            <dt class="col-sm-6">
                Reserveringsdatum
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ReserveringsDatum)
            </dd>
        </dl>

        <form asp-action="Delete" style="text-align: center;margin-left:25%;">
            <div class="form-group">
                <button asp-action="Delete" asp-for="Id" class="btn darkred CrudCancel">
                    Verwijderen  <i class="fas fa-times white"></i>
                </button>
            </div>
        </form>
    </div>
    <a asp-action="Index" class="btn darkblue CrudCreate" style="float:left;margin-left:25%;margin-top:5%;">
        <i class="fas fa-chevron-left edit"></i>   Terug
    </a>

</body>
</html>
