@model IEnumerable<Reservering>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 class="titel">Reserveringen</h1>
    <table id="cmstable" class="table table-bordered table-striped table-hover" style="overflow:auto;">
        <thead>
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Huistelefoon
                </th>
                <th>
                    Mobiel
                </th>
                <th>
                    Aantal Personen
                </th>
                <th>
                    Datum aanmaking
                </th>
                <th>
                    Datum Reservering
                </th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="FirstTD">
                        @Html.DisplayFor(modelItem => item.NaamReserveerder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HuisTelefoonNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobielTelefoonNummer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AantalPersonen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReserveringAangemaakt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReserveringsDatum)
                    </td>
                    <td style="text-align:center;table-layout:fixed;display:table-cell;width:40%;min-width:40%;">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn delete"><i class="fas fa-trash-alt delete"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn darkblue"><i class="fas fa-edit edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn darkblue"><i class="fas fa-info-circle details"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn darkblue"><i class="fas fa-address-book create"></i></i><i class="fas fa-plus create"></i></a>
</body>
</html>
