@model IEnumerable<Reservering>

@{
    ViewData["Title"] = "inkomendereserveringen";
}

<h1 class="titel">Inkomende reserveringen</h1>
<table id="cmstable" class="table table-bordered table-striped table-hover" style="overflow:auto;">
    <thead>
        <tr>
            <th>
             Naam
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Aantal Personen
            </th>
            <th>
                Verzoek ingediend op
            </th>
            <th>
                Datum Reservering
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerking)
            </th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="FirstTD">
                @Html.DisplayFor(modelItem => item.NaamReserveerder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalPersonen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveringAangemaakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveringsDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerking)
            </td>
            <td style="text-align:center;table-layout:fixed;display:table-cell;width:30%;min-width:30%;">
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn deletebtn"><i class="fas fa-trash-alt delete"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn darkblue"><i class="fas fa-edit edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn darkblue"><i class="fas fa-info-circle details"></i></a>
                <a asp-action="ReserveringGoedkeuren" asp-route-id="@item.Id" class="btn betalenbtn"><i class="fas fa-check create"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
