@model IEnumerable<BonTemps.Areas.Systeem.Models.Allergenen>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titel">Allergenen</h1>
<table id="cmstable" class="table table-bordered table-striped table-hover" style="overflow:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllergenenIcoon)
            </th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="FirstTD">
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllergenenIcoon)
                </td>
                <td style="text-align:center;table-layout:fixed;display:table-cell;width:40%;min-width:40%;">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn delete"><i class="fas fa-trash-alt delete"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn darkblue"><i class="fas fa-edit edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn darkblue"><i class="fas fa-info-circle details"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn darkblue"><i class="fas fa-allergies create"></i><i class="fas fa-plus create"></i></a>
