@model BonTemps.Areas.Systeem.Models.Menu

@{
    ViewData["Title"] = "Details";
    int Category_Voorgerecht = 1;
    int Category_Hoofdgerecht = 4;
    int Category_Nagerecht = 3;
    int Category_Drinken = 2;
}

<h1>Details</h1>

<div class="table">
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu_naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu_naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class="col-sm-2">
            Voorgerecht
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ConsumptieMenu.Where(s => s.Consumptie.CategoryId == Category_Voorgerecht))
            {
                @item.Consumptie.Naam<br />
            }
        </dd>
        <dt class="col-sm-2">
            Hoofdgerecht
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ConsumptieMenu.Where(s => s.Consumptie.CategoryId == Category_Hoofdgerecht))
            {
                @item.Consumptie.Naam<br />
            }
        </dd>
        <dt class="col-sm-2">
            Nagerecht
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ConsumptieMenu.Where(s => s.Consumptie.CategoryId == Category_Nagerecht))
            {
                @item.Consumptie.Naam<br />
            }
        </dd>
        <dt class="col-sm-2">
            Dranken
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ConsumptieMenu.Where(s => s.Consumptie.CategoryId == Category_Drinken))
            {
                @item.Consumptie.Naam<br />
            }
        </dd>
    </dl>
</div>
<div>
    <a class="create" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="create" asp-action="Index">Terug naar menu overzicht</a>
</div>
