@model IEnumerable<BonTemps.Areas.Manager.Models.ContactInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoonnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaandagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaandagSluit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DinsdagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DinsdagSluit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoensdagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoensdagSluit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonderdagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonderdagSluit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijdagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijdagSluit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZaterdagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZaterdagSluit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZondagOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZondagSluit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaandagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaandagSluit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DinsdagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DinsdagSluit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WoensdagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WoensdagSluit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonderdagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonderdagSluit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijdagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijdagSluit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZaterdagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZaterdagSluit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZondagOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZondagSluit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
