@model IEnumerable<BonTemps.Areas.Systeem.Models.Bestelling>

@{
    ViewData["Title"] = "AfgerondeBestellingen";
}

<h1>Afgeronde Bestellingen</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consumptie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tafels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bestellingsdatum_afgerond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afgerond)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consumptie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tafels.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bestellingsdatum_afgerond)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afgerond)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Archiveren</a>
            </td>
        </tr>
}
    </tbody>
</table>
