@model BonTemps.Areas.Systeem.Models.Bestelling

@{
    ViewData["Title"] = "Delete";
}
<h1 class="titel">Weet u zeker dat u deze bestelling wilt verwijderen?</h1>
<div style="margin-top:2%;" id="createform">
    <h3 class="titel createform">Details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Consumptie)
        </dt>
        <dd style="color:orange;" class="col-sm-6">
            @Html.DisplayFor(model => model.Consumptie.Naam)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Tafels)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Tafels.Id)
        </dd>
        <dt class="col-sm-6">
            Bestellingsdatum:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Bestellingsdatum_Tijd)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Afgerond)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Afgerond)
        </dd>
    </dl>

    <form asp-action="Delete" style="text-align: center;margin-left:25%;">
        <div class="form-group">
            <button asp-action="Delete" asp-for="Id" class="btn darkred CrudCancel">
                Verwijderen  <i class="fas fa-times white"></i>
            </button>
        </div>
    </form>
</div>

<a asp-action="Index" class="btn darkblue CrudCreate" style="float:left;margin-left:25%;margin-top:5%;">
    <i class="fas fa-chevron-left edit"></i>   Terug
</a>
