@model BonTemps.Areas.Systeem.Models.Bestelling

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumptie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumptie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tafels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tafels.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bestellingsdatum_Tijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bestellingsdatum_Tijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afgerond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afgerond)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
