@model IEnumerable<BonTemps.Areas.Systeem.Models.Bestelling>

@{
    ViewData["Title"] = "Index";
}

<h1>Bestellingen</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Consumptie toevoegen</a>
</p>
<br />
<table id="jquerytable" class="table table-bordered table-striped table-hover" style="overflow:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consumptie)
            </th>
            <th>
                Tafel
            </th>
            <th>
                Tijd van bestelling
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afgerond)
            </th>
            <th>Actie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumptie.Naam)
                </td>
                <td style="width:8%;text-align:center;">
                    @Html.DisplayFor(modelItem => item.Tafels.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bestellingsdatum_Tijd)
                </td>
                <td style="width:8%;text-align:center;">
                    @Html.DisplayFor(modelItem => item.Afgerond)
                </td>
                <td style="text-align:center;table-layout:fixed;display:table-cell;width:40%;min-width:40%;">
                    <a asp-action="Afronden" asp-route-id="@item.Id" class="btn btn-danger">Afronden</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Bewerken</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
