@model IEnumerable<BonTemps.Areas.Systeem.Models.Bestelling>

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Afrekenen";
    var Tafel = ViewBag.TafelId;
    int i = 0;
    double Price = 0.0;
    foreach (var item in Model)
    {
        Price += item.Consumptie.Prijs * item.Aantal;
        i = item.TafelsId;
    }
}

<head>
    <link href="~/css/Menu.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="~/css/Bon.css" rel="stylesheet" />
</head>

<div class="pdf-bon">
    <div class="pdf-content">
        <div class="bon-content">
            <h1 class="heading-primairy title-bon">Bon temps</h1>
            <h4 class="bedrijfs-info">
                Hoofdstraat 82 <br>
                1931GL<br>
                5063209<br>
                Bontemps@gmail.com
            </h4>
        </div>

        <h3 class="tafel-nummer">Tafel nummer : # @i</h3>


        <table class="table table-bon">
            <thead>
                <tr>
                    <th class="th-bon">
                        @Html.DisplayNameFor(model => model.Consumptie.Naam)
                    </th>
                    <th class="th-bon">
                        @Html.DisplayNameFor(model => model.Consumptie.Prijs)
                    </th>
                    <th class="th-bon">
                        Aantal
                    </th>
                    <th class="th-bon">
                        Totaal
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="th-bon">
                            @Html.DisplayFor(modelItem => item.Consumptie.Naam)
                        </td>
                        <td class="th-bon">
                            @Html.DisplayFor(modelItem => item.Consumptie.Prijs)
                        </td>
                        <td class="th-bon">
                            @Html.DisplayFor(modelItem => item.Aantal)
                        </td>
                        <td class="th-bon">
                            @{
                                double p = 0.0;
                                p = item.Aantal * item.Consumptie.Prijs;
                            }
                            <span>&euro;@p</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
