@model IEnumerable<BonTemps.Areas.Systeem.Models.Bestelling>

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Afrekenen";
    var Tafel = ViewBag.TafelId;
    int i = 0;
    double Price = 0.0;
    foreach (var item in Model)
    {
        Price += item.Consumptie.Prijs * item.Aantal;
        i = item.TafelsId;
    }
}

<head>
    <link href="~/css/Menu.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="~/css/Bon.css" rel="stylesheet" />

</head>

<div class="bon-content">
    <h1 class="heading-primairy title-bon">Bon temps</h1>
    <h4 class="bedrijfs-info">
        Hoofdstraat 82 <br>
        1931GL<br>
        5063209<br>
        Bontemps@gmail.com
    </h4>
</div>

<h1 class="tafel-nummer">Tafel nummer : # @i</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consumptie.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumptie.Prijs)
            </th>
            <th>
                Aantal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumptie.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumptie.Prijs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aantal)
                </td>
            </tr>
        }
    </tbody>
</table>
<h1 class="tot-prijs">Totaal prijs : €@Price</h1>

@*<a asp-route-id=@Tafel asp-action="Printbon"><small>Bon uitprinten</small></a>*@
