@model BonTemps.Areas.Systeem.Models.Email

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Email</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ontvanger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ontvanger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onderwerp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onderwerp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerzendDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerzendDatum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
