@model BonTemps.Areas.Systeem.Models.Consumptie

@{
    ViewData["Title"] = "Details";
}

<h1>Consumptie Details</h1>

<div class="table">
    <dl class="row">
        <dd class="col-sm-10">
            <p style="font-size:24px;">@Html.DisplayFor(model => model.Naam)</p>
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Naam)
        </dd>
        <dd>
            @*@Html.DisplayFor(model => model.Allergenen)*@
        </dd>
    </dl>
</div>
<div>
    <a class="create" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="create" asp-action="Index">Terug naar menu overzicht</a>
</div>
