@model IEnumerable<BonTemps.Areas.Systeem.Models.Consumptie>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">

    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
</head>


<h1>Consumpties overzicht</h1>
<hr />
<table id="jquerytable" class="table table-bordered table-striped table-hover" style="overflow:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Actie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Naam)
                </td>
                <td style="text-align:center;table-layout:fixed;display:table-cell;width:40%;min-width:40%;">
                    <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="create" asp-action="Create">Create New</a>
    <a class="create" asp-controller="ChefBoard" asp-action="Index">Terug naar Dashboard</a>
</p>
