@model IEnumerable<BonTemps.Areas.ReserveerSysteem.Models.Reservering>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ReserveerSysteem/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toevoeging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoonnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobielNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalPersonen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReserveeringsDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toevoeging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobielNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalPersonen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveeringsDatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReserveringId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReserveringId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReserveringId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
