@model IEnumerable<BonTemps.Models.Reservering>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NaamReserveerder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuisTelefoonNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobielTelefoonNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalPersonen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goedkeuring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReserveringsDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReserveringAangemaakt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NaamReserveerder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuisTelefoonNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobielTelefoonNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalPersonen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goedkeuring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveringsDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveringAangemaakt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
