@model IEnumerable<BonTemps.Models.Reservering>

@{
    ViewData["Title"] = "Reservering";
}

<h1>Reservering</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Email            
            </th>
            <th>
                Huisnummer
            </th>
            <th>
                Mobiel nummer
            </th>
            <th>
                Aantal personen
            </th>
            <th>
                Status
            </th>
            <th>
                Opmerking
            </th>
            <th>
               Reserverings datum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NaamReserveerder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuisTelefoonNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobielTelefoonNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalPersonen)
            </td>
            <td>
                @if (item.Goedkeuring == false)
                {
                    <p>In afwachting</p>
                }
                else
                {
                    <p>Goedgekeurd</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveringsDatum)
            </td>
            
        </tr>
}
    </tbody>
</table>
