@model BonTemps.Areas.Systeem.Models.Category

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <h1>Category</h1>


    <div class="table">
       
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Naam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Naam)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Beschrijving)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Beschrijving)
            </dd>
        </dl>
    </div>
    <div>
        <a class="create" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="create" asp-action="Index">Terug naar categorie overzicht</a>
    </div>
</body>
</html>
